
.card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @text-bolder;
  margin-bottom: 6px;
}

.card__description {
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: @text-bolder;
}

.card__button {
  background-color: transparent;
  border: none;
}
