.cards {
  list-style: none;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.cards__item {
  margin-bottom: 30px;

  @media (min-width: desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
