.cards {
  list-style: none;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.cards__item {
  border: 1px solid @lighten-grey;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 47px;
  }
}

.cards__item:nth-child(3n+3) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
