.catalog-subhead {
  background-color: @background-dec;
}
/*
.catalog-subhead__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @text-bolder;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 73px;
}
*/
.catalog-subhead__title {
  .subhead-title;
}
