.contacts__heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @text-bolder;
  margin-bottom: 25px;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 60px;
}

.contacts__mail-to {
  color: @text;
}

.contacts__write-message {
  margin-bottom: 39px;
}
