.contacts {
  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 98px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 37% 1fr auto;
  }
}

.contacts__heading {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @text-bolder;
  margin-top: 20px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    .subhead-title;
    text-align: left;
    margin-top: 52px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
    margin-right: 26px;
    margin-top: 0;
    align-self: end;
  }
}

.contacts__heading::after {
  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    top: -21px;
    right: 53px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icons/flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    left: -62px;
  }
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    width: 310px;
    justify-self: end;
    margin-right: 39px;
    margin-bottom: 53px;
    padding: 0;
  }
}

.contacts__title {
  width: 25%;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    width: 10%;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
    padding: 0;
  }
}

.contacts__text {
  margin-left: 5px;
  width: 70%;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    width: 38%;
  }

  @media (min-width: @desktop-width) {
    width: 75%;
    padding: 0;
    margin: 0;
  }
}

.contacts__mail-to {
  color: @text;
  width: 70%;
  border-bottom: 1px solid @aqua;

  @media (min-width: @tablet-width) {
    width: 30%;
    padding-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.contacts__mail-to:hover {
  border-color: @dark-cyan;
  color: @dark-cyan;
}

.contacts__mail-to:active {
  border-color: @dark-cyan-opacity;
  color: @dark-cyan;
}

.contacts__write-message {
  margin-bottom: 39px;
  display: block;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 5px;
    align-self: end;
    margin-right: 119px;
  }
}

.contacts__map-container {
  position: relative;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 0;
  }
}

.contacts__map-iframe {
  width: 100%;
}

.contacts__map {
  position: absolute;
  z-index: -10;
  top: 0;
  display: block;
  width: 100%;
}
