.copyright {
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    padding-top: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
    padding-right: 3px;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: @text-bolder;
  margin-right: 27px;
}

.copyright__icon {
  display: block;
  fill: @aquamarine;
  width: 27px;
  height: 34px;
}

.copyright__link:hover .copyright__icon {
  fill: @dark-cyan;
}

.copyright__link:active .copyright__icon {
  fill: @dark-cyan;
  opacity: 0.3;
}
