.fieldset {
  border: none;
}

.fieldset__title {
  text-transform: uppercase;
  color: @aquamarine;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 28px;
}

.fieldset__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: @text-bolder;
}

.fieldset__radio-input,
.fieldset__checkbox-input {
  display: none;
}

.fieldset__label--radio,
.fieldset__label--checkbox {
  padding-left: 60px;
  padding-bottom: 40px;
  display: inline-block;
}

.fieldset__user-name,
.fieldset__user-tel,
.fieldset__user-email {
  display: block;
  border: none;
  box-shadow: inset 0 -2px 0 @black;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 20px;
}

.fieldset__additional {
  padding: 17px;
}
