
.list-color {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 27px;
    padding-left: 111px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 735px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 56px;
    padding-left: 53px;
    margin-bottom: 28px;
  }
}
