.main-navigation {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @text-bolder;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation {
    &__site,
    &__user {
      display: none;
    }
  }

  .main-navigation--nojs .navigation__toggle-wrapper {
    display: none;
  }

  .main-navigation--nojs .main-navigation {
    &__site,
    &__user {
      display: block;
    }
  }

  .main-navigation--opened {
    position: absolute;
    width: 100%;
    background-color: @white;
  }
}

.main-navigation__site {
  @media (min-width: @tablet-width) {
    order: 2;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    max-width: 420px;
  }
}

.main-navigation__user {
  @media (min-width: @tablet-width) {
    order: 1;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    order: 2;
    max-width: 40%;
  }
}

.main-navigation__sub-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    order: 3;
  }
}

.main-navigation__free-delivery {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: @text;
  margin-top: 20px;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    order: 5;
    margin-left: auto;
  }
}
