.make-order {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
    padding-top: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 81px;
  }
}

.make-order__colored-background {
  @media (min-width: @tablet-width) {
    background-color: @background-dec;
    padding-top: 27px;
  }
}

.make-order__lead {
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 29px;
  max-width: 700px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 16px;
  }
}

.make-order__footnote {
  font-size: 14px;
  line-height: 16px;
  margin-top: 12px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 9px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
  }
}

.make-order__button {
  margin-bottom: 56px;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    order: -1;
    margin-bottom: 50px;
    flex-shrink: 0;
  }
}

.make-order__bottom-wrapper {
  max-width: @container-size-l;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 114px;
    align-items: flex-start;
  }
}

.make-order__submit {
  @media (min-width: @desktop-width) {
    max-width: @container-size-l;
    padding-left: 112px;
    padding-right: 50px;
    margin: 0 auto;
  }
}
