.make-order__lead {
  font-size: 13px;
  padding-top: 17px;
  padding-bottom: 29px;
}

.make-order__fieldset {
  margin-bottom: 33px;
}

.make-order__footnote {
  font-size: 14px;
  line-height: 16px;
}

.make-order__button {
  margin-bottom: 55px;
}
