.page-footer {
  background-color: @background-dec;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
