.reviews {
  padding-bottom: 18px;
  background: url("../img/images/zigzag-line-desktop.svg") 0 93% repeat-x;

  @media (min-width: @desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    background-clip: content-box;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 14px;
  color: @text-bolder;
}

.reviews__item {
  margin: 0;
  line-height: 30px;
}

.reviews__write {
  margin-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .reviews__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .reviews__write {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
  }

  .reviews__list {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .reviews__buttons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    justify-self: end;
  }
}

.reviews__button {
  border: 1px solid @lighten-grey;
  background-color: transparent;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 37px;
  padding-right: 38px;
  margin-bottom: 38px;
}

.reviews__wrap {
  @media (min-width: @tablet-width) {
    background: url("../img/images/review-background.jpg") left center / 350px 457px no-repeat;
    margin-bottom: 50px;
    padding-top: 78px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/images/review-background@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
