.slider__item {
  margin: 0;
  line-height: 30px;
}

.slider__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @text-bolder;
}

.slider__author-id {
  font-size: 17px;
  line-height: 30px;
}
