.subhead {
  background-color: @whitesmoke;
  margin-bottom: 30px;
}

.subhead__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @text-bolder;
  padding-top: 73px;
  padding-bottom: 120px;
  text-align: center;
  background-image: url("../img/images/subhead.jpg");
  background-repeat: no-repeat;
}

.subhead__item--light {
  background-color: @aquamarine;
}

.subhead__item--dark {
  background-color: @cyan;
}

.subhead__link {
  color: @white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.subhead__option {
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.subhead__list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: @container-size-l;
  }
}

.subhead__item {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}
