.subhead {
  background-color: @lighten-grey;
  margin-bottom: 30px;

  background-repeat: no-repeat;
}

.subhead__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @text-bolder;
  padding-top: 73px;
  padding-bottom: 120px;
  text-align: center;
  background-image: url("../img/images/subhead.jpg");
}

.subhead__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subhead__link--light {
  background-color: @aquamarine;
}

.subhead__link--dark {
  background-color: @cyan;
}

.subhead__link {
  color: @white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.subhead__option {
  padding-top: 24px;
  padding-bottom: 31px;
}
