.trending-good__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @text-bolder;
}

.trending-good__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @aquamarine;
}

.trending-good__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.trending-good__to-cart {
  margin-bottom: 36px;
}
