.workflow {
  padding-top: 21px;
}

.workflow__title {
  position: relative;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @text-bolder;
}

.workflow__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  background-image: url("../img/icons/workflow-video.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.workflow__video-prev {
  position: relative;
}

.workflow__play-button {
  position: absolute;
  background-color: transparent;
  border: none;
}

.workflow__lead {
  margin-bottom: 41px;
}

.workflow__button {
  margin-bottom: 90px;
}
