.workflow {
  padding-top: 21px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "picture title"
      "picture lead"
      "picture button";
  }
}

.workflow__title {
  position: relative;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @text-bolder;

  @media (min-width: @desktop-width) {
    grid-area: title;
  }
}

.workflow__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  background-image: url("../img/icons/workflow-video.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.workflow__video-wrap {
  display: inline-block;
  position: relative;

  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    grid-area: picture;
  }
}

.workflow__video-prev {
  display: flex;
}

.workflow__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  border: none;
}

.workflow__lead {
  margin-bottom: 41px;

  @media (min-width: @desktop-width) {
    grid-area: lead;
  }
}

.workflow__button {
  margin-bottom: 90px;

  @media (min-width: @desktop-width) {
    grid-area: button;
  }
}
