/*Colors*/
@white: #FFFFFF;
@white-opacity: rgba(255, 255, 255, 0.3);
@black: #000000;
@black-opacity: rgba(0, 1, 1, 0.25);
@black-opacity-light: rgba(0, 0, 0, 0.3);
@black-bright: rgba(0, 0, 0, 0.6);
@black-fade: rgba(0, 0, 0, 0.1);
@darkern-black-opacity: #e6e6e6;
@aquamarine: #63D1BB;
@light-aquamarine: #59D5BC;
@cyan: #56C3B2;
@dark-cyan: #46C1AE;
@dark-cyan-opacity: rgba(70, 193, 174, 0.1);
@aqua: #62D1BA;
@teal: #149080;
@slate: #444444;
@slate-light: rgba(68, 68, 68, 0.3);
@slate-opacity: rgba(68, 68, 68, 0.1);
@light-grey: #F1F1F1;
@whitesmoke: #F9F9F9;
@grey: #E5E5E5;
@lighten-grey: #ECECEC;
@ink: #231F20;
@silver: #C6C6C6;

/*Text*/
@deafult-font: "Open Sans", "Arial", sans-serif;
@text: @slate;
@text-bolder: @black;

/*Decoration*/
@background-dec: @light-grey;

/*Viewports*/
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;

/*Container*/
@container-size-s: 260px;
@container-size-m: 668px;
@container-size-l: 1050px;
