/*Colors*/
@white: #FFFFFF;
@black: #000000;
@aquamarine: #63D1BB;
@light-aquamarine: #59D5BC;
@cyan: #56C3B2;
@dark-cyan: #46C1AE;
@aqua: #62D1BA;
@slate: #444444;
@slate-opacity: rgba(68, 68, 68, 0.1);
@light-grey: #F1F1F1;
@grey: #E5E5E5;
@lighten-grey: #ECECEC;
@ink: #231F20;


/*Text*/
@text: @slate;
@text-bolder: @black;
